.background{
    background-image: url('https://i.pinimg.com/originals/d3/96/c2/d396c2f5bae775360616397ec16b7d1d.jpg');
    background-repeat: no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height:100%;
}

.top{
    background-color: rgb(89, 127, 92);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

.volver{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 120px;
    background-color:rgb(96, 143, 44);
    height: 40px;
    width: 90px;
    margin-top: 8px;
    border-radius: 10px;
}



.infoCompleta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}


.img{
    height: 400px;
    width: 500px;
}

.country{
    display: flex;
    flex-direction: row;    
}

.actividades{
    display: flex;
    flex-direction: row; 
}


.infopais{
    display: flex;
    flex: row;
    align-items: center;
    margin: 35px;
    color: white;
    border-radius: 15px;
    background-color: rgba(58, 63, 58, 0.863);
}

.eachtag{
    margin-left: 20px;
    margin-right: 20px;
}

.eachActivity{
    display: flex;
    flex-direction: column;
    background-color: rgba(141, 125, 125, 0.767);
    color: white;
    margin: 20px;
    border-radius: 15px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    margin: 20px;
}


.link{
    text-decoration: none;
}